* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: signika;
    src: url(assests/font/Signika/Signika-VariableFont_GRAD\,wght.ttf) format("truetype");
    font-style: normal;
    font-weight: 100 900;
}
body{
    font-family: "signika" ;
}

#main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 50%;
    text-align: center;
}

.main-container h3 {
    font-weight: 300;
}

.main-container img {
    height: 80px;
    width: 100px;
}

.bt-container {
    border: 2px solid #f5f5f5;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 60%;
    border-radius: 10px;
    margin: 10px auto;
    padding: 0px 15px;
}

.bt {
    height: 25px;
    white-space: nowrap;
    width: 95% !important;
    background-color: #f5f5f5;
    display: block;
    border-radius: 10px;
    text-align: center;
    line-height: 25px;
    font-weight: 300;   
}

.bt-container a {
    text-decoration: none;
}

#bt-1 {
    border: 2px solid white;
    background-color: white;
    color: black;
}

#bt-2 {
    border: 2px solid #f5f5f5;
    background-color: #f5f5f5;
    color: #999393;
}

form {
    border: 1px solid #e5e5e5;
    width: 50%;
    border-radius: 10px;
    margin: 0px auto;
    text-align: start;
    padding: 20px 50px;
}

form h3 {
    font-family: signika;
    font-weight: 600 !important;
}

form p {
    color: #383737;
    font-size: 13px;
    margin-top: 5px;
}

.input-con {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.input-con label{
    font-weight: 300;
}
.input-con input {
    border: 1px solid black;
    height: 35px;
    width: 95%;
    border-radius: 5px;
    color: black;
    padding: 0px 10px;
}

.log-in {
    border: 2px solid #2b4f8c;
    height: 38px;
    width: 98%;
    border-radius: 5px;
    font-size: 17px;
    background-color: #2b4f8c;
    color: white;
    margin: 20px auto;
    display: block;
}

#login-teacher {
    border: 1px solid #e5e5e5;
    height: 35px;
    width: 65%;
    border-radius: 10px;
    background-color: white;
    font-size: 15px;
    font-weight: 200;
    line-height: 35px;
    display: block;
    margin: 10px auto;   
    color: black;
    text-decoration: none;
}
#for-pass{
    color: #258ef2; 
    text-decoration: none; 
  }
  #for-pass:hover{
    text-decoration: underline;
  }
@media only screen and (max-width: 600px) {
    .bt-container {
        border: 2px solid white;
        height: 100px;
        background-color: white ;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90%;
        margin: 10px auto;
        padding: 5px 0px;
    }

    .bt {
        border: 2px solid #f5f5f5;
        white-space: nowrap;
        height: 30px !important;
        width: 95% !important;
        background-color: #f5f5f5 !important;
          color: #999393 !important;
        display: block;
        border-radius: 0px !important;
        text-align: center;
        margin-top: 7px;
        line-height: 30px;
       }
       form p{
        font-size: 10px;
        line-height: 15px;
       }
      .input-con input {
    border: 1px solid black;
    height: 28px;
    width: 98%;
    border-radius: 5px;
    color: black;
    padding: 0px 10px;
}
#login-teacher {
    border: 1px solid #e5e5e5;
    height: 35px;
    width: 65%;
    border-radius: 10px;
    margin-top: 10px;
    background-color: white;
    font-size: 10px;
    font-weight: 200;

}

}