@import url(dashboard.css);

.mob-screen {
    display: none;
}

.main-content-top {
    display: flex;
    justify-content: space-between;
}

.drop-down {
    border: 1px solid #69757b;
    font-size: 14px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.dropdown-menu {
    font-size: 16px;
    white-space: nowrap;

}

.drop-down:hover {
    border: 1px solid #69757b;
}

.attendence-1-con {
    border: 1px solid #e5e5e5;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.attendence-1-con p:first-child {
    font-size: 24px;
}

.attendence-1-con p:last-child {
    font-size: 15px;
}

table {
    border: 1px solid black;
    margin-top: 100px;
}

table tr th {
    background-color: #f8fafc !important;
    font-weight: 500;
    color: #737373 !important;
}

table tr th,
table tr td {
    font-size: 14px;
    text-align: start;
    vertical-align: middle;
}

table tr td:hover {
    background-color: #f8fafc !important;
}

table button {
    border: 1px solid transparent;
    background-color: transparent;
}

table button svg {
    height: 15px;
}

table button:hover {
    border: 1px solid transparent;
    background-color: transparent;
}

.marks {
    border: 1px solid #D2DAE2;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    margin-bottom: 0px;
    line-height: 30px;
    text-align: center;
}

.sub {
    border: 1px solid #7de8aa;
    padding: 1px 0px;
    background-color: #D1FAE5;
    border-radius: 10px;
    font-size: 13px;
    margin-bottom: 0px;
    text-align: center;
    display: inline;
    padding: 3px 6px;
}

.action-table {
    display: flex;
    gap: 10px;
}
.table-mob{
    display: none;
}
@media (max-width: 575.98px) {
    .laptop-screen {
        display: none;
    }

    .mob-screen {
        display: block;
    }

    .drop-down {
        font-size: 12px;
    }

    .dropdown-menu {
        font-size: 10px;
    }
   .attendence-1-con {
    border: 1px solid #e5e5e5;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    margin-top: 20px;
    align-items: center;
}


}
@media (max-width: 694px){
   .table-laptop{
      display: none;
   }
   .table-mob{
   display: block;
 }
 
table{
    width: 90%;
   margin: 0px auto;
    margin-top: 14px;
}
   table tr th,
    table tr td {
        font-size: 10px !important;
        white-space: wrap;
        text-align: start;
        vertical-align: middle;
    }
    .sub {
    border: 1px solid #7de8aa;
    padding: 1px 0px;
    background-color: #D1FAE5;
    border-radius: 10px;
    font-size: 8px !important;
    margin-bottom: 0px;
    text-align: center;
    display: block !important;
    padding: 3px 6px;
}
.action-table {
    display: flex;
    gap: 0px !important;
    justify-content: start;
}

}
@media (max-width: 778px) {

    table tr th,
    table tr td {
        font-size: 10px;
        text-align: start;
        vertical-align: middle;
    }

    #sub-mob {
        font-size: 10px;
        display: block;
        padding: 5px 0px!important;
        line-height: 13px;
    }
   .marks {
    border: 1px solid #D2DAE2;
    height: 25px;
    width: 25px;
    border-radius: 10px;
    margin-bottom: 0px;
    line-height: 25px;
    text-align: center;
}

.sub {
    border: 1px solid #7de8aa;
    padding: 1px 0px;
    background-color: #D1FAE5;
    border-radius: 10px;
    font-size: 10px;
    margin-bottom: 0px;
    text-align: center;
    display: inline;
    padding: 3px 6px;
}
.action-table {
    display: flex;
    gap: 0px !important;
    justify-content: start;
}
.action-table svg{
    height: 13px;
}
.attendence-1-con {
    border: 1px solid #e5e5e5;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
}
}